.share{
    
    margin: 15px 0px;
    border-radius: 8px;
    display: flex;
    width: 87%;
    flex-direction: column;
    gap: 10px;
    padding: 7px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.shareTop{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
    margin-left: 5px;
}

.shareTop .feedLink{
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    gap:13px;
}

.shareTop .shareProfile{
    width: 40px;
    height:40px;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgb(160, 88, 160);
}
.shareTop .shareName{
    font-size: 14px;
    font-weight: 500;
}
.share input{
    background-color:#f5f5f5;
    padding: 7px;
    width: 90%;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    margin-left: 5px;
}
.share input:focus{
    outline: none;
}
.share img{
    width: 100%;
    height:300px;
    object-fit: cover;
    border-radius: 15px;
}

.shareChoose {
  display: flex;
    align-items: center;
    margin: 6px 0px 6px 5px;
}
.shareChoose label{
    cursor: pointer;
    border-radius: 15px;
    padding: 3px 9px;
    background-color:#f5f5f5;
    color: green;

}
.shareChoose label:hover{
    background-color: white;
    border: 1px solid green;
}

.shareChooseName{
    font-size: 13px;
    margin-left: 6px;
}

.shareBottom{
    font-size: 14px;
    cursor: pointer;
    color: blue;
    display: flex;
    margin-right: 10px;
    align-self: flex-end;
    border-radius: 15px;
    padding: 3px 10px;
    background-color:#f5f5f5;
    margin-bottom: 10px;
}
.shareBottom:hover{
    background-color: white;
    color: blue;
    border: 1px solid blue;
}
